<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--
        环境配置：数据库的连接信息
        default:必须和某个environment的id值一样
        告诉mybatis使用哪个数据库的连接信息，
    -->
    <environments default="mysql">
        <!--
            一个数据库信息的配置环境，id是一个唯一的值，自定义，表示环境的名称
        -->
        <environment id="mysql">
            <!--
            transactionManager:mybatis的事物类型
                    type：JDBC（表示使用jdbc中的Connection对象的commit，rollback做事物处理的）
            -->
            <transactionManager type="JDBC"/>
            <!--
                dataSource：表示数据库源，连接数据库的
                type：表示数据库的类型POOLED表示使用连接池
            -->
            <dataSource type="POOLED">
                <!--
                    driver,user,username,password 是固定的，不能自定义
                -->
                <!--数据库的驱动类名-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <!--链接数据库的url字符串-->
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="password"/>
            </dataSource>
        </environment>
    </environments>
    <!--sql mapper(sql 映射文件)的位置-->
    <mappers>
        <!--
            一个mapper标签指定一个文件的位置
            从类路径开始的路径信息。
        -->
        <mapper resource="com/thoughtworks/dao/StudentDao.xml"/>
    </mappers>
</configuration>